.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}

// PULSE BORDER
@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    
    75% {
        opacity: .8;
    }

    100% {
        transform: scale(8);
        opacity: 0;
    }
}