.header {
    nav {
        padding: 0.625rem 1.5rem;
    }
    &__logo {
        img {
            height: 50px;
            width: 150px;
        }
    }

    &__menu {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $approxClaret;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    &__links {

        a {
            font-size: $font-sm;
            color: $approxManatee;
            text-transform: uppercase;
        }
    }

    &__cta {
        font-size: $font-med;
    }

    &__neonText {
        color: #f00;
        text-shadow:
            0 0 7px #f00,
            0 0 10px #f00,
            0 0 21px #f00,
            0 0 42px #faa,
            0 0 82px #faa,
            0 0 92px #faa,
            0 0 102px #faa,
            0 0 151px #faa;
      }
}