.samples {
    background: linear-gradient(90deg, rgba(0,224,255,1) 0%, rgba(166,255,242,1) 100%);
    display: flex;
    margin-top: -1rem;
    padding-top: 2rem;
    align-items: center;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2.3125rem;
        font-weight: 300;
        line-height: 1.15;
        color: $approxBlack;
    }

    p {
        color: $spectrum;
    }

    &__text {
        @include breakpoint-up(large) {
            flex: 5;
            order: 1;
            font-size: 1.1rem;
        }

        font-size: 0.7rem;
        margin: auto 5%;
        order: 1;
    }

    .accordion {
        width: 50%
    }
}