// Colors
// Theme 1
$approxViking: hsl(182.86, 45.06%, 54.31%);
$approxAqua: hsl(187.29, 100%, 50%);
$approxBabyBlue: hsl(182.59, 100%, 72.75%);
$approxPaleTurquoise: hsl(171.24, 100%, 82.55%);
$approxHoneydew: hsl(120, 100%, 95.49%);

// Theme 2
$approxIvory: hsl(60, 28.57%, 97.25%);
$approxAqua: hsl(176.47, 100%, 50%);
$approxDeepSkyBlue: hsl(190.82, 100%, 50%);
$approxMariner: hsl(217.26, 50.41%, 48.24%);
$approxClaret: hsl(341.5, 73.79%, 28.43%);

// Neutrals
$approxManatee: hsl(233, 8%, 62%);
$approxSolitude: hsl(220, 16%, 96%);
$approxSnow: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);