.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(8);
            transform: scale(8);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  100% {
    -webkit-transform: scale(8);
            transform: scale(8);
    opacity: 0;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #9698a6;
  line-height: 1.3;
}

body.noscroll {
  overflow: hidden;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.75rem 1.625rem;
  border-radius: 40px;
  background: #0a0a0a;
  border: 0;
  cursor: pointer;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.svg-top, .svg-bottom {
  min-width: 100%;
  height: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
}

.svg-bottom {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  margin-top: -1rem;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9698a6), to(transparent));
  background-image: linear-gradient(#9698a6, transparent);
  z-index: 1000;
}

.header .overlay.fade-in {
  display: block;
}

.header nav {
  position: relative;
  background-color: #fafaf6;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  z-index: 2000;
}

.header__logo img {
  height: 50px;
  width: 150px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #7e1334;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fafaf6;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 3000;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #3d6cb9;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -28px;
  background: #3d6cb9;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #3d6cb9;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  font-size: 1.125rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.8;
}

.header__neonText {
  color: #f00;
  text-shadow: 0 0 7px #f00, 0 0 10px #f00, 0 0 21px #f00, 0 0 42px #faa, 0 0 82px #faa, 0 0 92px #faa, 0 0 102px #faa, 0 0 151px #faa;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
  z-index: -1;
  overflow: hidden;
}

.hero__image {
  position: relative;
  background-image: url("/images/cranium1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left -2rem;
  min-height: 17.5rem;
  z-index: 100;
}

.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/micro-5095179_640.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right -3rem;
  background-position-y: bottom -6.5rem;
  z-index: 500;
}

@media (min-width: 64em) {
  .hero__image::before {
    background-position-x: right -1rem;
    background-position-y: bottom -5rem;
  }
}

.hero__text {
  text-align: center;
  z-index: 1000;
}

@media (min-width: 64em) {
  .hero__text {
    position: absolute;
    top: 20%;
    left: 40%;
  }
}

@media (max-width: 87.4375em) {
  .hero__text {
    min-height: 11rem;
  }
}

.hero__text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.15;
  color: #0a0a0a;
}

.hero__text p {
  line-height: 1.5;
  color: #4f4f4f;
}

.border-animation {
  position: absolute;
  top: 45%;
  left: 3.5rem;
  width: 3rem;
  height: 4rem;
  border: 0.3rem solid #e8ffe8;
  border-radius: 50%;
  border-left-color: transparent;
  -webkit-animation: pulse-border 2s linear infinite;
          animation: pulse-border 2s linear infinite;
  z-index: 1;
  -webkit-clip-path: polygon(0 45%, 100% 40%, 100% 60%, 0 55%);
          clip-path: polygon(0 45%, 100% 40%, 100% 60%, 0 55%);
}

@media (min-width: 64em) {
  .border-animation {
    left: -12rem;
    width: 20rem;
    height: 8rem;
    top: 35%;
  }
}

.border-animation__border-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.border-animation__border-2 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.border-animation__border-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.about {
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.15;
  color: #0a0a0a;
}

.about p, .about li {
  color: #4f4f4f;
}

.about li {
  list-style-image: url("/images/mic.png");
}

.about__text {
  margin: auto 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 64em) {
  .about__text {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 64em) {
  .about__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about__image img {
  width: 80%;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 20px 1px #3d6cb9;
          box-shadow: 10px 10px 20px 1px #3d6cb9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.samples {
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.samples h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.15;
  color: #0a0a0a;
}

.samples p {
  color: #4f4f4f;
}

.setup {
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setup h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.15;
  color: #0a0a0a;
}

.setup p {
  color: #4f4f4f;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(#00e0ff), to(#a6fff2));
  background: linear-gradient(90deg, #00e0ff 0%, #a6fff2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.15;
  color: #0a0a0a;
}

.contact p {
  color: #4f4f4f;
}
/*# sourceMappingURL=style.css.map */